modules = ["bash", "nodejs-16"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Arras Game Server"

[[workflows.workflow]]
name = "Arras Game Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 26301
externalPort = 3000
